<template>
<div>
  <div class="calc">{{ calcul.join(' ') }}</div>
  <div class="calc">= {{ results }}</div>
  <div class="buttons">
    <button v-for="symbol in symbols" :key="symbol" @click="addSymbol(symbol)">{{symbol}}</button>
    <button @click="calcul = []">C</button>
  </div>

  <small>Une application proposée par: {{ username }}</small>
</div>
</template>

<script>
import calculator from '@/libs/calculator';

export default {
  name: 'Calculator',
  data() {
    return {
      symbols: ['x', '1', '2', '3', '/', '4', '5', '6', '+', '7', '8', '9', '-', '0'],
      calcul: [],
    };
  },
  computed: {
    results() {
      return calculator(this.calcul);
    },
    username() {
      return process.env.VUE_APP_USERNAME;
    },
  },
  methods: {
    addSymbol(symbol) {
      if (
        ['x', '/', '-', '+'].includes(this.calcul[this.calcul.length - 1])
        || ['x', '/', '-', '+'].includes(symbol)
        ^ this.calcul.length === 0
      ) {
        this.calcul.push(symbol);
      } else {
        this.$set(
          this.calcul,
          this.calcul.length - 1,
          this.calcul[this.calcul.length - 1] + symbol,
        );
      }
    },
  },
};
</script>

<style scoped>
 button {
   cursor: pointer;
   padding: 0;
   width: 90px;
   height: 90px;
   display: flex;
   justify-content: center;
   align-items: center;
   float: left;
   border: 0;
   margin: 5px;
 }
 .buttons {
   width: 400px;
   overflow: hidden;
 }
 .calc {
   background-color: #f6f5f4;
   height: 90px;
   width: 390px;
   margin: 5px;
   margin-top: 10px;
   display: flex;
   justify-content: right;
   align-items: center;
   padding: 20px;
 }
</style>
